.container{
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.container h1{
    margin: 0;
}
.container input{
    border: black 1px solid;
    outline: none;
}
.container button{
    cursor: pointer;
}